<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script th:src="@{/css/main.js}"></script>
    <link th:href="@{/css/netflix.css}" rel="stylesheet">
<body>
<div class="wrapper">

    <!-- HEADER -->
    <header>
        <div class="netflixLogo">
            <a id="logo" href="#home"><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"></a>
        </div>
        <nav class="main-nav">
            <a href="/movie">Home</a>
            <a href="#tvShows">TV Shows</a>
            <a href="#movies">Movies</a>
            <a href="#originals">Originals</a>
            <a href="#">Recently Added</a>
            <a target="_blank" href="https://codepen.io/cb2307/full/NzaOrm">Portfolio</a>
        </nav>
        <nav class="sub-nav">
            <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
            <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
            <a href="#">Account</a>
        </nav>
    </header>
    <!-- END OF HEADER -->

    <!-- MAIN CONTAINER -->
    <section class="main-container" >



        <div class="location" id="home">
            <h1 id="homeList">Popular on Netflix</h1>

            <div class="search-box">
                <form th:action="@{/movie/search}" method="get" >
                    <input type="text" placeholder="Search" name="search" th:value="${param.search}">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="box">
                <div th:each="movie : ${movies}">
                    <a th:href="@{/movie/{movieId}(movieId=${movie.movieId})}"><img th:src="${movie.meta.poster_link}" alt=""></a>
                    <p th:text="${movie.title}"></p>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer>
            <p>&copy 1997-2018 Netflix, Inc.</p>
            <p>Carlos Avila &copy 2018</p>
        </footer></section>
</div>
</body>
</html>